<% if @sessions_list.empty? %>
  <ol class="breadcrumb">
    <li><a id="date-detail" class="navbar-brand"><%= @sessions_index_msg %></a></li>
  </ol>
<% else %>
  <% @sessions_list.each do |date, sessions| %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
          <button id="sessions-count-btn" type="button" class="<%= @state %> navbar-toggle btn-lg" data-toggle="collapse" data-target="#<%= date %>"><%= sessions.count %></button>
          <a id="date-detail" class="navbar-brand"><%= date %></a>
      </div>
      <ul class="sessions-by-date collapse navbar-collapse nav navbar-nav" id="<%= date %>">
        <table class=""table table-striped"">
          <tbody>
            <% sessions.each do |s| %>
              <tr>
                <td id="people-column">
                  <% if @rol == "therapist" %>
                    <li type="circle"><%= s.patient.complete_name %><br>
                      <%= s.supervisor.complete_name %>
                    </li>
                  <% elsif @rol == "patient" %>
                    <li type="circle"><%= s.therapist.complete_name %><br>
                        <%= s.supervisor.complete_name %>
                    </li>
                  <% elsif current_user.type == "Users::Student" && s.therapist_id == current_user.id %>
                    <li type="circle"><%= s.patient.complete_name %> <b>(Patient)</b>
                    </li>
                  <% elsif current_user.type == "Users::Student" && s.patient_id == current_user.id %>
                    <li type="circle"><%= s.therapist.complete_name %> <b>(Therapist)</b>
                    </li>
                  <% end %>
                </td>
                <td id="edit-btn">
                    <%= link_to content_tag(:span, "", :class => "glyphicon glyphicon-pencil"), edit_therapy_session_path(id: s.id), method: :get, :class => "btn btn-default btn-lg" %>
                </td>
              </tr>
            <% end %>
          <tbody>
        </table>
      </ul>
    </nav>
  <% end %>
<% end %>


