
<div class="jumbotron">
    <h2>New session as therapist</h2>

    <%= form_for @therapy_session, :url => create_therapy_session_as_therapist_path do |f| %>
      <%= f.hidden_field :therapist_id, :value => current_user.id %>
      <%= f.hidden_field :creator_id, :value => current_user.id %>

      <div><%= f.label :event_date %><br />
      <%= f.date_field :event_date %></div>

      <div><%= f.label :patient_id %><br />
      <%= f.collection_select :patient_id, @posible_patients, :id, :complete_name, :prompt => true %></div>

      <div><%= f.label :supervisor_id %><br />
      <%= f.collection_select :supervisor_id, @posible_supervisors.order('first_name ASC'), :id, :complete_name, :prompt => true %></div>

      <div class="marg-sup-btn"><%= f.submit "Register", :class => 'btn btn-lg btn-success' %></div>
    <% end %>

    <div class="marg-sup-btn">
        <%= link_to "Back", "/" %>
    </div>
</div>
