<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Proyecto juguete">
  <meta name="author" content="has_many:developers">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">

  <title>Simula</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Custom styles for this template -->
  <link href="jumbotron-narrow.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
</head>


<body>
      <div class="container">
        <div class="header">
          <ul class="nav nav-pills pull-right" id="mainave">
            <% if user_signed_in? %>
              <li>Logged in as <strong><%= current_user.email %></strong></li>
              <li><a href="<%= edit_user_registration_path %>">Edit profile</a></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
          <h1 class="text-muted">Simula</h1>
        </div>

        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
      <footer>
        <p>&copy; has_many :developers</p>
      </footer>
      <!-- /container -->
      <!-- JS and analytics only. -->
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src=”bootstrapjs/jquery.js”></script>
      <script src=”bootstrapjs/bootstrap.js”></script>
  </body>
</html>
