<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Proyecto juguete">
  <meta name="author" content="has_many:developers">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">

  <title>Simula</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Custom styles for this template -->
  <link href="jumbotron-narrow.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
</head>


<body>
      <div class="container">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <% if user_signed_in? %>
              <button id="welcome-msg-btn" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span>
                  <% if current_user.first_name.empty? %>
                    Welcome
                  <% elsif current_user.type == "Users::Student" %>
                    <%= "#{current_user.first_name} (#{current_user.group.description})" %>
                  <% else %>
                    <%= current_user.first_name %>
                  <% end %>
                </span>
              </button>
            <% end %>
            <a class="navbar-brand" id="logo" href="/">Simula</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <% if user_signed_in? %>
              <ul class="nav navbar-nav" id="mainave">
                <li>
                  <a id="welcome-msg">
                    <% if current_user.first_name.empty? %>
                      Welcome
                    <% elsif current_user.type == "Users::Student" %>
                      <%= "#{current_user.first_name} (#{current_user.group.description})" %>
                    <% else %>
                      <%= current_user.first_name %>
                    <% end %>
                  </a>
                </li>
                <li><a href="<%= edit_user_registration_path %>">Preferences</a></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% end %>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>

      <div class="container">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
      <div class="container">
        <footer>
          <p>&copy; has_many :developers</p>
        </footer>
      </div>
      <!-- /container -->
      <!-- JS and analytics only. -->
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src=”bootstrapjs/jquery.js”></script>
      <script src=”bootstrapjs/bootstrap.js”></script>
  </body>
</html>
